<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  nzTitle="{{ title }}"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
>
  <form nz-form *nzDrawerContent>
    <div nz-row [nzGutter]="8"></div>

    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Broj ugovora</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="instalment?.purchaseContractDto?.id"
              (ngModelChange)="updatePurchaseContractId($event)"
              placeholder="Unesi prezime kupca"
              name="purchaseContractDto"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Iznos rate:</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="formattedInstallmentAmount"
              (ngModelChange)="updateInstallmentAmount($event)"
              placeholder="Unesi ime kupca"
              name="installmentAmount"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Rata:</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="instalment?.installmentOrdinal"
              (ngModelChange)="updateInstallmentOrdinal($event)"
              placeholder="Unesi adresu kupca"
              name="instalment.installmentOrdinal"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Datum prispeca rate</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="instalment?.maturityDate"
              (ngModelChange)="updateMaturityDate($event)"
              placeholder="Unesi JMBG kupca"
              name="instalment.maturityDate"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Uplaceno:</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="instalment?.paidAmount"
              (ngModelChange)="updatePaidAmount($event)"
              placeholder="Unesi iznos uplate"
              name="paidAmount"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Nacin placanja:</nz-form-label>
          <nz-form-control>
            <nz-select
              [ngModel]="instalment?.paymentMethod"
              (ngModelChange)="updatePaymentMethod($event)"
              placeholder="Izaberite način plaćanja"
              name="paymentMethod"
            >
              <nz-option nzValue="CASH" nzLabel="GOTOVINA"></nz-option>
              <nz-option nzValue="BANK_PAYMEN" nzLabel="UPLATA NA TR"></nz-option>
              <nz-option nzValue="CARD" nzLabel="KARTICA"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="close()">
        Cancel
      </button>
      <button nz-button nzType="primary" (click)="editInstalment()">
        Submit
      </button>
    </div>
  </ng-template>
</nz-drawer>
