<button nz-button nzType="primary" (click)="openAddCustomer()">Unesi kupca</button>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  nzTitle="{{ title }}"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
>
  <form nz-form *nzDrawerContent>
    <div nz-row [nzGutter]="8">
     
    </div>

    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Prezime</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="customer?.lastName"
              (ngModelChange)="customer && (customer.lastName = $event)"
              placeholder="Unesi prezime kupca"
              name="lastName"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Ime</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="customer?.firstName"
              (ngModelChange)="customer && (customer.firstName = $event)"
              placeholder="Unesi ime kupca"
              name="firstName"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Adresa</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="customer?.address"
              (ngModelChange)="customer && (customer.address = $event)"
              placeholder="Unesi adresu kupca"
              name="address"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>JMBG</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="customer?.jmbg"
              (ngModelChange)="customer && (customer.jmbg = $event)"
              placeholder="Unesi JMBG kupca"
              name="jmbg"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Br. LK</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="customer?.brLK"
              (ngModelChange)="customer && (customer.brLK = $event)"
              placeholder="Unesi br. LK kupca"
              name="brLK"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>


    
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>PU</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="customer?.pu"
              (ngModelChange)="customer && (customer.pu = $event)"
              placeholder="Unesi PU izdavaoca LK kupca"
              name="pu"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>  

  <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Telefon</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="customer?.phoneNumber"
              (ngModelChange)="customer && (customer.phoneNumber = $event)"
              placeholder="Unesi telefon kupca"
              name="phoneNumber"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>email</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="customer?.email"
              (ngModelChange)="customer && (customer.email = $event)"
              placeholder="Unesi email kupca"
              name="email"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

   
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="close()">
        Cancel
      </button>
      <button nz-button nzType="primary" (click)="editOrAddCustomer()">
        Submit
      </button>
    </div>
  </ng-template>
</nz-drawer>
