<app-edit-customer [title]="title"></app-edit-customer>
<hr />
<nz-table *ngIf="customers$ | async as customers" [nzData]="customers" #fixedTable
  [nzScroll]="{ x: '1000px', y: '500px' }">
  <thead>
    <tr>
      <th>Id</th>
      <th>Prezime</th>
      <th>Ime</th>
      <th>Adresa</th>
      <th>PU</th>
      <th>JMBG</th>
      <th>Telefon</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.id }}</td>
      <td>{{ customer.lastName }}</td>
      <td>{{ customer.firstName }}</td>
      <td>{{ customer.address }}</td>
      <td>{{ customer.pu }}</td>
      <td>{{ customer.jmbg }}</td>
      <td>{{ customer.phoneNumber }}</td>
      <td>{{ customer.email }}</td>
   
      <td>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" (click)="openEditCustomer(customer)">
          Izmeni
        </button>
      </td>
      <td>
        <a [routerLink]="['/customer', customer.id]">
          <button nz-button nzType="primary">Prikazi kupca</button></a>
      </td>
    </tr>
  </tbody>
</nz-table>